img {
    width: 1269.5px;
    height: 600px;
    padding-left: 140px;
    padding-right: 120px;
    padding-top: 10px;
    background-color: rgb(54, 150, 16);
    margin-bottom: 0px;
}

.jumbotron{
    background-color: rgb(54, 150, 16);
}

html {
    background-color: rgb(54, 150, 16);
}
